<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.mapper.origin.OriginCodeMapper">
  <resultMap id="BaseResultMap" type="com.panda.model.origin.OriginCode">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="origin_batch_id" jdbcType="VARCHAR" property="originBatchId" />
    <result column="prefix_val" jdbcType="VARCHAR" property="prefixVal" />
    <result column="origin_code" jdbcType="VARCHAR" property="originCode" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, origin_batch_id, prefix_val, origin_code, create_id, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from e_origin_code
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from e_origin_code
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.panda.model.origin.OriginCode">
    insert into e_origin_code (id, origin_batch_id, prefix_val, 
      origin_code, create_id, create_time
      )
    values (#{id,jdbcType=VARCHAR}, #{originBatchId,jdbcType=VARCHAR}, #{prefixVal,jdbcType=VARCHAR}, 
      #{originCode,jdbcType=VARCHAR}, #{createId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.panda.model.origin.OriginCode">
    insert into e_origin_code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="originBatchId != null">
        origin_batch_id,
      </if>
      <if test="prefixVal != null">
        prefix_val,
      </if>
      <if test="originCode != null">
        origin_code,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="originBatchId != null">
        #{originBatchId,jdbcType=VARCHAR},
      </if>
      <if test="prefixVal != null">
        #{prefixVal,jdbcType=VARCHAR},
      </if>
      <if test="originCode != null">
        #{originCode,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.panda.model.origin.OriginCode">
    update e_origin_code
    <set>
      <if test="originBatchId != null">
        origin_batch_id = #{originBatchId,jdbcType=VARCHAR},
      </if>
      <if test="prefixVal != null">
        prefix_val = #{prefixVal,jdbcType=VARCHAR},
      </if>
      <if test="originCode != null">
        origin_code = #{originCode,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.panda.model.origin.OriginCode">
    update e_origin_code
    set origin_batch_id = #{originBatchId,jdbcType=VARCHAR},
      prefix_val = #{prefixVal,jdbcType=VARCHAR},
      origin_code = #{originCode,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>