<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.panda.mapper.origin.QualityControlListMapper" >
  <resultMap id="BaseResultMap" type="com.panda.model.origin.QualityControlList" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="sampling_id" property="samplingId" jdbcType="VARCHAR" />
    <result column="check_status" property="checkStatus" jdbcType="INTEGER" />
    <result column="check_time" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="operator_id" property="operatorId" jdbcType="VARCHAR" />
    <result column="re_check_status" property="reCheckStatus" jdbcType="INTEGER" />
    <result column="re_check_ussr" property="reCheckUssr" jdbcType="VARCHAR" />
    <result column="re_check_time" property="reCheckTime" jdbcType="TIMESTAMP" />
    <result column="create_id" property="createId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_id" property="modifyId" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sampling_id, check_status, check_time, operator_id, re_check_status, re_check_ussr, 
    re_check_time, create_id, create_time, modify_id, modify_time, status, description
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from e_quality_control_list
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from e_quality_control_list
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.panda.model.origin.QualityControlList" >
    insert into e_quality_control_list (id, sampling_id, check_status, 
      check_time, operator_id, re_check_status, 
      re_check_ussr, re_check_time, create_id, 
      create_time, modify_id, modify_time, 
      status, description)
    values (#{id,jdbcType=VARCHAR}, #{samplingId,jdbcType=VARCHAR}, #{checkStatus,jdbcType=INTEGER}, 
      #{checkTime,jdbcType=TIMESTAMP}, #{operatorId,jdbcType=VARCHAR}, #{reCheckStatus,jdbcType=INTEGER}, 
      #{reCheckUssr,jdbcType=VARCHAR}, #{reCheckTime,jdbcType=TIMESTAMP}, #{createId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyId,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.panda.model.origin.QualityControlList" >
    insert into e_quality_control_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="samplingId != null" >
        sampling_id,
      </if>
      <if test="checkStatus != null" >
        check_status,
      </if>
      <if test="checkTime != null" >
        check_time,
      </if>
      <if test="operatorId != null" >
        operator_id,
      </if>
      <if test="reCheckStatus != null" >
        re_check_status,
      </if>
      <if test="reCheckUssr != null" >
        re_check_ussr,
      </if>
      <if test="reCheckTime != null" >
        re_check_time,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyId != null" >
        modify_id,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="samplingId != null" >
        #{samplingId,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null" >
        #{checkStatus,jdbcType=INTEGER},
      </if>
      <if test="checkTime != null" >
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="reCheckStatus != null" >
        #{reCheckStatus,jdbcType=INTEGER},
      </if>
      <if test="reCheckUssr != null" >
        #{reCheckUssr,jdbcType=VARCHAR},
      </if>
      <if test="reCheckTime != null" >
        #{reCheckTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null" >
        #{modifyId,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.panda.model.origin.QualityControlList" >
    update e_quality_control_list
    <set >
      <if test="samplingId != null" >
        sampling_id = #{samplingId,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null" >
        check_status = #{checkStatus,jdbcType=INTEGER},
      </if>
      <if test="checkTime != null" >
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null" >
        operator_id = #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="reCheckStatus != null" >
        re_check_status = #{reCheckStatus,jdbcType=INTEGER},
      </if>
      <if test="reCheckUssr != null" >
        re_check_ussr = #{reCheckUssr,jdbcType=VARCHAR},
      </if>
      <if test="reCheckTime != null" >
        re_check_time = #{reCheckTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null" >
        modify_id = #{modifyId,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.panda.model.origin.QualityControlList" >
    update e_quality_control_list
    set sampling_id = #{samplingId,jdbcType=VARCHAR},
      check_status = #{checkStatus,jdbcType=INTEGER},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      operator_id = #{operatorId,jdbcType=VARCHAR},
      re_check_status = #{reCheckStatus,jdbcType=INTEGER},
      re_check_ussr = #{reCheckUssr,jdbcType=VARCHAR},
      re_check_time = #{reCheckTime,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_id = #{modifyId,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>