<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.mapper.origin.QualityMapper">
  <resultMap id="BaseResultMap" type="com.panda.model.origin.Quality">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="sampling_id" jdbcType="VARCHAR" property="samplingId" />
    <result column="dic_quality_type" jdbcType="VARCHAR" property="dicQualityType" />
    <result column="verify_quality" jdbcType="INTEGER" property="verifyQuality" />
    <result column="verify_user" jdbcType="VARCHAR" property="verifyUser" />
    <result column="verify_time" jdbcType="TIMESTAMP" property="verifyTime" />
    <result column="quality_status" jdbcType="INTEGER" property="qualityStatus" />
    <result column="quality_user" jdbcType="VARCHAR" property="qualityUser" />
    <result column="quality_time" jdbcType="TIMESTAMP" property="qualityTime" />
    <result column="net_content" jdbcType="VARCHAR" property="netContent" />
    <result column="tea_crumble" jdbcType="VARCHAR" property="teaCrumble" />
    <result column="water_content" jdbcType="VARCHAR" property="waterContent" />
    <result column="quality_cable" jdbcType="VARCHAR" property="qualityCable" />
    <result column="quality_color_lustre" jdbcType="VARCHAR" property="qualityColorLustre" />
    <result column="quality_cleanliness" jdbcType="VARCHAR" property="qualityCleanliness" />
    <result column="quality_aroma" jdbcType="VARCHAR" property="qualityAroma" />
    <result column="quality_taste" jdbcType="VARCHAR" property="qualityTaste" />
    <result column="quality_colour" jdbcType="VARCHAR" property="qualityColour" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_id" jdbcType="VARCHAR" property="modifyId" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sampling_id, dic_quality_type, verify_quality, verify_user, verify_time, quality_status, 
    quality_user, quality_time, net_content, tea_crumble, water_content, quality_cable, 
    quality_color_lustre, quality_cleanliness, quality_aroma, quality_taste, quality_colour, 
    create_id, create_time, modify_id, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from e_quality
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from e_quality
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.panda.model.origin.Quality">
    insert into e_quality (id, sampling_id, dic_quality_type, 
      verify_quality, verify_user, verify_time, 
      quality_status, quality_user, quality_time, 
      net_content, tea_crumble, water_content, 
      quality_cable, quality_color_lustre, quality_cleanliness, 
      quality_aroma, quality_taste, quality_colour, 
      create_id, create_time, modify_id, 
      modify_time)
    values (#{id,jdbcType=VARCHAR}, #{samplingId,jdbcType=VARCHAR}, #{dicQualityType,jdbcType=VARCHAR}, 
      #{verifyQuality,jdbcType=INTEGER}, #{verifyUser,jdbcType=VARCHAR}, #{verifyTime,jdbcType=TIMESTAMP}, 
      #{qualityStatus,jdbcType=INTEGER}, #{qualityUser,jdbcType=VARCHAR}, #{qualityTime,jdbcType=TIMESTAMP}, 
      #{netContent,jdbcType=VARCHAR}, #{teaCrumble,jdbcType=VARCHAR}, #{waterContent,jdbcType=VARCHAR}, 
      #{qualityCable,jdbcType=VARCHAR}, #{qualityColorLustre,jdbcType=VARCHAR}, #{qualityCleanliness,jdbcType=VARCHAR}, 
      #{qualityAroma,jdbcType=VARCHAR}, #{qualityTaste,jdbcType=VARCHAR}, #{qualityColour,jdbcType=VARCHAR}, 
      #{createId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyId,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.panda.model.origin.Quality">
    insert into e_quality
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="samplingId != null">
        sampling_id,
      </if>
      <if test="dicQualityType != null">
        dic_quality_type,
      </if>
      <if test="verifyQuality != null">
        verify_quality,
      </if>
      <if test="verifyUser != null">
        verify_user,
      </if>
      <if test="verifyTime != null">
        verify_time,
      </if>
      <if test="qualityStatus != null">
        quality_status,
      </if>
      <if test="qualityUser != null">
        quality_user,
      </if>
      <if test="qualityTime != null">
        quality_time,
      </if>
      <if test="netContent != null">
        net_content,
      </if>
      <if test="teaCrumble != null">
        tea_crumble,
      </if>
      <if test="waterContent != null">
        water_content,
      </if>
      <if test="qualityCable != null">
        quality_cable,
      </if>
      <if test="qualityColorLustre != null">
        quality_color_lustre,
      </if>
      <if test="qualityCleanliness != null">
        quality_cleanliness,
      </if>
      <if test="qualityAroma != null">
        quality_aroma,
      </if>
      <if test="qualityTaste != null">
        quality_taste,
      </if>
      <if test="qualityColour != null">
        quality_colour,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyId != null">
        modify_id,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="samplingId != null">
        #{samplingId,jdbcType=VARCHAR},
      </if>
      <if test="dicQualityType != null">
        #{dicQualityType,jdbcType=VARCHAR},
      </if>
      <if test="verifyQuality != null">
        #{verifyQuality,jdbcType=INTEGER},
      </if>
      <if test="verifyUser != null">
        #{verifyUser,jdbcType=VARCHAR},
      </if>
      <if test="verifyTime != null">
        #{verifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qualityStatus != null">
        #{qualityStatus,jdbcType=INTEGER},
      </if>
      <if test="qualityUser != null">
        #{qualityUser,jdbcType=VARCHAR},
      </if>
      <if test="qualityTime != null">
        #{qualityTime,jdbcType=TIMESTAMP},
      </if>
      <if test="netContent != null">
        #{netContent,jdbcType=VARCHAR},
      </if>
      <if test="teaCrumble != null">
        #{teaCrumble,jdbcType=VARCHAR},
      </if>
      <if test="waterContent != null">
        #{waterContent,jdbcType=VARCHAR},
      </if>
      <if test="qualityCable != null">
        #{qualityCable,jdbcType=VARCHAR},
      </if>
      <if test="qualityColorLustre != null">
        #{qualityColorLustre,jdbcType=VARCHAR},
      </if>
      <if test="qualityCleanliness != null">
        #{qualityCleanliness,jdbcType=VARCHAR},
      </if>
      <if test="qualityAroma != null">
        #{qualityAroma,jdbcType=VARCHAR},
      </if>
      <if test="qualityTaste != null">
        #{qualityTaste,jdbcType=VARCHAR},
      </if>
      <if test="qualityColour != null">
        #{qualityColour,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null">
        #{modifyId,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.panda.model.origin.Quality">
    update e_quality
    <set>
      <if test="samplingId != null">
        sampling_id = #{samplingId,jdbcType=VARCHAR},
      </if>
      <if test="dicQualityType != null">
        dic_quality_type = #{dicQualityType,jdbcType=VARCHAR},
      </if>
      <if test="verifyQuality != null">
        verify_quality = #{verifyQuality,jdbcType=INTEGER},
      </if>
      <if test="verifyUser != null">
        verify_user = #{verifyUser,jdbcType=VARCHAR},
      </if>
      <if test="verifyTime != null">
        verify_time = #{verifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qualityStatus != null">
        quality_status = #{qualityStatus,jdbcType=INTEGER},
      </if>
      <if test="qualityUser != null">
        quality_user = #{qualityUser,jdbcType=VARCHAR},
      </if>
      <if test="qualityTime != null">
        quality_time = #{qualityTime,jdbcType=TIMESTAMP},
      </if>
      <if test="netContent != null">
        net_content = #{netContent,jdbcType=VARCHAR},
      </if>
      <if test="teaCrumble != null">
        tea_crumble = #{teaCrumble,jdbcType=VARCHAR},
      </if>
      <if test="waterContent != null">
        water_content = #{waterContent,jdbcType=VARCHAR},
      </if>
      <if test="qualityCable != null">
        quality_cable = #{qualityCable,jdbcType=VARCHAR},
      </if>
      <if test="qualityColorLustre != null">
        quality_color_lustre = #{qualityColorLustre,jdbcType=VARCHAR},
      </if>
      <if test="qualityCleanliness != null">
        quality_cleanliness = #{qualityCleanliness,jdbcType=VARCHAR},
      </if>
      <if test="qualityAroma != null">
        quality_aroma = #{qualityAroma,jdbcType=VARCHAR},
      </if>
      <if test="qualityTaste != null">
        quality_taste = #{qualityTaste,jdbcType=VARCHAR},
      </if>
      <if test="qualityColour != null">
        quality_colour = #{qualityColour,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null">
        modify_id = #{modifyId,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.panda.model.origin.Quality">
    update e_quality
    set sampling_id = #{samplingId,jdbcType=VARCHAR},
      dic_quality_type = #{dicQualityType,jdbcType=VARCHAR},
      verify_quality = #{verifyQuality,jdbcType=INTEGER},
      verify_user = #{verifyUser,jdbcType=VARCHAR},
      verify_time = #{verifyTime,jdbcType=TIMESTAMP},
      quality_status = #{qualityStatus,jdbcType=INTEGER},
      quality_user = #{qualityUser,jdbcType=VARCHAR},
      quality_time = #{qualityTime,jdbcType=TIMESTAMP},
      net_content = #{netContent,jdbcType=VARCHAR},
      tea_crumble = #{teaCrumble,jdbcType=VARCHAR},
      water_content = #{waterContent,jdbcType=VARCHAR},
      quality_cable = #{qualityCable,jdbcType=VARCHAR},
      quality_color_lustre = #{qualityColorLustre,jdbcType=VARCHAR},
      quality_cleanliness = #{qualityCleanliness,jdbcType=VARCHAR},
      quality_aroma = #{qualityAroma,jdbcType=VARCHAR},
      quality_taste = #{qualityTaste,jdbcType=VARCHAR},
      quality_colour = #{qualityColour,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_id = #{modifyId,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <!-- 查询所有的设置记录返回 List列表 无入参 -->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from e_quality
    where 1 = 1
  </select>
  <!-- 查询所有的设置记录返回 List列表 无入参 -->

  <!-- 查询质检记录 -->
  <select id="selectQualityDataList" parameterType="map" resultType="map">
    SELECT bs.*,p.name productName,pb.batch_number batchNumber FROM (
      SELECT
          q.id,q.sampling_id samplingId,q.verify_quality verifyQuality,q.quality_status qualityStatus,
          q.quality_user qualityUser,q.quality_time qualityTime,s.order_no orderNo,q.verify_user verifyUser,
          s.process_batch_id processBatchId,s.product_id productId
      FROM
          e_quality q, e_sampling s
      WHERE
          1 = 1
          AND q.sampling_id = s.id
          <if test="samplingId != null and samplingId != ''">
            AND q.sampling_id = #{samplingId}
          </if>
          <if test="processBatchId != null and processBatchId != ''">
            AND s.process_batch_id = #{processBatchId}
          </if>
          <if test="productId != null and productId != ''">
            AND s.product_id = #{productId}
          </if>
    )bs
    LEFT JOIN c_products p ON bs.productId = p.id
    LEFT JOIN e_process_batch pb ON bs.processBatchId = pb.id
  </select>
  <!-- 查询质检记录 -->
</mapper>