<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.panda.mapper.origin.StockListMapper" >
  <resultMap id="BaseResultMap" type="com.panda.model.origin.StockList" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="cultivar_id" property="cultivarId" jdbcType="VARCHAR" />
    <result column="warehouse_id" property="warehouseId" jdbcType="VARCHAR" />
    <result column="create_id" property="createId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_id" property="modifyId" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="stock_number" property="stockNumber" jdbcType="REAL" />
    <result column="stock_time" property="stockTime" jdbcType="TIMESTAMP" />
    <result column="operator_id" property="operatorId" jdbcType="VARCHAR" />
    <result column="stock_object_id" property="stockObjectId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cultivar_id, warehouse_id, create_id, create_time, modify_id, modify_time, status, 
    description, stock_number, stock_time, operator_id, stock_object_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from e_stock_list
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from e_stock_list
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.panda.model.origin.StockList" >
    insert into e_stock_list (id, cultivar_id, warehouse_id, 
      create_id, create_time, modify_id, 
      modify_time, status, description, 
      stock_number, stock_time, operator_id, 
      stock_object_id)
    values (#{id,jdbcType=VARCHAR}, #{cultivarId,jdbcType=VARCHAR}, #{warehouseId,jdbcType=VARCHAR}, 
      #{createId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyId,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{stockNumber,jdbcType=REAL}, #{stockTime,jdbcType=TIMESTAMP}, #{operatorId,jdbcType=VARCHAR}, 
      #{stockObjectId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.panda.model.origin.StockList" >
    insert into e_stock_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cultivarId != null" >
        cultivar_id,
      </if>
      <if test="warehouseId != null" >
        warehouse_id,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyId != null" >
        modify_id,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="stockNumber != null" >
        stock_number,
      </if>
      <if test="stockTime != null" >
        stock_time,
      </if>
      <if test="operatorId != null" >
        operator_id,
      </if>
      <if test="stockObjectId != null" >
        stock_object_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="cultivarId != null" >
        #{cultivarId,jdbcType=VARCHAR},
      </if>
      <if test="warehouseId != null" >
        #{warehouseId,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null" >
        #{modifyId,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="stockNumber != null" >
        #{stockNumber,jdbcType=REAL},
      </if>
      <if test="stockTime != null" >
        #{stockTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="stockObjectId != null" >
        #{stockObjectId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.panda.model.origin.StockList" >
    update e_stock_list
    <set >
      <if test="cultivarId != null" >
        cultivar_id = #{cultivarId,jdbcType=VARCHAR},
      </if>
      <if test="warehouseId != null" >
        warehouse_id = #{warehouseId,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null" >
        modify_id = #{modifyId,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="stockNumber != null" >
        stock_number = #{stockNumber,jdbcType=REAL},
      </if>
      <if test="stockTime != null" >
        stock_time = #{stockTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null" >
        operator_id = #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="stockObjectId != null" >
        stock_object_id = #{stockObjectId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.panda.model.origin.StockList" >
    update e_stock_list
    set cultivar_id = #{cultivarId,jdbcType=VARCHAR},
      warehouse_id = #{warehouseId,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_id = #{modifyId,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      stock_number = #{stockNumber,jdbcType=REAL},
      stock_time = #{stockTime,jdbcType=TIMESTAMP},
      operator_id = #{operatorId,jdbcType=VARCHAR},
      stock_object_id = #{stockObjectId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>