<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.panda.mapper.origin.TeaGardenLogMapper" >
  <resultMap id="BaseResultMap" type="com.panda.model.origin.TeaGardenLog" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="tea_garden_id" property="teaGardenId" jdbcType="VARCHAR" />
    <result column="farm_type_id" property="farmTypeId" jdbcType="VARCHAR" />
    <result column="farm_desc" property="farmDesc" jdbcType="VARCHAR" />
    <result column="cultivar_id" property="cultivarId" jdbcType="VARCHAR" />
    <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="operator_id" property="operatorId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="create_id" property="createId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_id" property="modifyId" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, tea_garden_id, farm_type_id, farm_desc, cultivar_id, begin_time, end_time, operator_id, 
    status, description, create_id, create_time, modify_id, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from e_tea_garden_log
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from e_tea_garden_log
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.panda.model.origin.TeaGardenLog" >
    insert into e_tea_garden_log (id, tea_garden_id, farm_type_id, 
      farm_desc, cultivar_id, begin_time, 
      end_time, operator_id, status, 
      description, create_id, create_time, 
      modify_id, modify_time)
    values (#{id,jdbcType=VARCHAR}, #{teaGardenId,jdbcType=VARCHAR}, #{farmTypeId,jdbcType=VARCHAR}, 
      #{farmDesc,jdbcType=VARCHAR}, #{cultivarId,jdbcType=VARCHAR}, #{beginTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{operatorId,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR}, #{createId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyId,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.panda.model.origin.TeaGardenLog" >
    insert into e_tea_garden_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="teaGardenId != null" >
        tea_garden_id,
      </if>
      <if test="farmTypeId != null" >
        farm_type_id,
      </if>
      <if test="farmDesc != null" >
        farm_desc,
      </if>
      <if test="cultivarId != null" >
        cultivar_id,
      </if>
      <if test="beginTime != null" >
        begin_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="operatorId != null" >
        operator_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyId != null" >
        modify_id,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="teaGardenId != null" >
        #{teaGardenId,jdbcType=VARCHAR},
      </if>
      <if test="farmTypeId != null" >
        #{farmTypeId,jdbcType=VARCHAR},
      </if>
      <if test="farmDesc != null" >
        #{farmDesc,jdbcType=VARCHAR},
      </if>
      <if test="cultivarId != null" >
        #{cultivarId,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null" >
        #{modifyId,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.panda.model.origin.TeaGardenLog" >
    update e_tea_garden_log
    <set >
      <if test="teaGardenId != null" >
        tea_garden_id = #{teaGardenId,jdbcType=VARCHAR},
      </if>
      <if test="farmTypeId != null" >
        farm_type_id = #{farmTypeId,jdbcType=VARCHAR},
      </if>
      <if test="farmDesc != null" >
        farm_desc = #{farmDesc,jdbcType=VARCHAR},
      </if>
      <if test="cultivarId != null" >
        cultivar_id = #{cultivarId,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null" >
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null" >
        operator_id = #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null" >
        modify_id = #{modifyId,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.panda.model.origin.TeaGardenLog" >
    update e_tea_garden_log
    set tea_garden_id = #{teaGardenId,jdbcType=VARCHAR},
      farm_type_id = #{farmTypeId,jdbcType=VARCHAR},
      farm_desc = #{farmDesc,jdbcType=VARCHAR},
      cultivar_id = #{cultivarId,jdbcType=VARCHAR},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      operator_id = #{operatorId,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_id = #{modifyId,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!-- 茶园日志列表数据 -->
  <select id="selectTeaGardenLogList" resultType="map" parameterType="map">
    SELECT
    tgl.id, tgl.farm_desc, tgl.operator_id,tgl.create_time,
    tg.name teaGardenName, year(tgl.create_time) createYear,
    (case tgl.end_time when  null then '0' else '1' end  ) statusOff,
    d.name cultivarName, d1.name farmName, u.chinese_name createName
    FROM	e_tea_garden tg, e_tea_garden_log tgl
    LEFT JOIN s_dictionary as d  ON tgl.cultivar_id = d.id
    LEFT JOIN s_dictionary as d1 ON tgl.farm_type_id = d1.id
    LEFT JOIN s_users as u ON u.id = tgl.create_id = u.id
    WHERE
    1 = 1
    AND tgl.tea_garden_id = tg.id
    <if test="cultivarId != null and cultivarId != ''">
      AND tgl.cultivar_id = #{cultivarId}
    </if>
    <if test="gardenType != null and gardenType != ''">
      AND tgl.tea_garden_id = #{gardenType}
    </if>
    <if test="farmType != null and farmType != ''">
      AND tgl.farm_type_id = #{farmType}
    </if>
    <if test="status != null and status != ''">
      AND tgl.status = #{status}
    </if>
    <if test="createYear != null and createYear != ''">
      AND year(tgl.create_time) = #{createYear}
    </if>
    GROUP BY tgl.id ORDER BY tgl.create_time DESC
  </select>
  <!-- 茶园日志列表数据 -->
</mapper>