<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>编辑权限信息</title>
</head>
<body>
<!--begin::Modal-->
<div class="modal fade samplingEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" th:fragment="samplingEdit">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close close-parent" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <form class="m-form m-form--state m-form--fit m-form--label-align-right" id="sampling_edit_form" novalidate="novalidate">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="hidden" name="id" value="">
                            <input type="hidden" name="save" value="edit">
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-4 col-sm-12">
                                    加工批次  <span style="color: red">*</span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <select class="form-control processBatchId" name="processBatchId" id="processBatchId">
                                        <option value=""> 选择 </option>
                                        <option th:each="item:${processBatchList}" th:value="${item.id}" th:text="${item.batch_number}"></option>
                                    </select>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-4 col-sm-12">
                                    产品名称  <span style="color: red">*</span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control m-input" id="productId" value="" placeholder="产品名称" disabled>
                                    </div>
                                    <span class="m-form__help"></span>
                                </div>
                                <input type="hidden" name="productId" value="">
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-4 col-sm-12">
                                    取样单号  <span style="color: red">*</span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control m-input" name="orderNo" value="" placeholder="取样单号">
                                    </div>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-4 col-sm-12">
                                    取样基数  <span style="color: red">*</span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control m-input" name="samplingBase" value="" placeholder="取样基数">
                                    </div>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <div class="col-lg-12 col-md-9 col-sm-12">
                                    <div class="input-group m-input-group">
                                    <span class="input-group-btn">
                                        <input type="text" class="form-control beginTime" id="machinStatus" placeholder="加工开始时间" disabled>
                                        <input type="hidden" name="machinStatus" value="">
                                    </span>
                                        <span class="input-group-addon">
                                        至
                                    </span>
                                        <span class="input-group-btn">
                                        <input type="text" class="form-control endTime" id="machinEnd" placeholder="加工结束时间" disabled>
                                        <input type="hidden" name="machinEnd" value="">
                                    </span>
                                    </div>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-4 col-sm-12">
                                    等级
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <select class="form-control" name="dicTeaGrade" id="dicTeaGrade">
                                        <option value=""> 等级</option>
                                        <option th:each="item:${grade}" th:value="${item.id}" th:text="${item.name}"></option>
                                    </select>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-4 col-sm-12">
                                    取样日期  <span style="color: red">*</span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control m-input samplingTime" name="samplingTime" value="" placeholder="取样日期">
                                    </div>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-4 col-sm-12">
                                    取样数量  <span style="color: red">*</span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control m-input" name="samplingNumber" value="" placeholder="取样数量">
                                    </div>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-4 col-sm-12">
                                    取样人  <span style="color: red">*</span>
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control m-input" name="operatorId" value="" placeholder="取样人">
                                    </div>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-4 col-sm-12">
                                    备注
                                </label>
                                <div class="col-lg-8 col-md-9 col-sm-12">
                                    <textarea class="form-control m-input" name="description" placeholder="备注" style="resize: none;height: 92px"></textarea>
                                    <span class="m-form__help"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary close-parent" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="submit" shiro:hasPermission="sampling:submit" class="btn btn-accent">
                        确定
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--end::Modal-->
</body>
</html>