<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>编辑管理记录</title>
</head>
<body>
<!--begin::Modal-->
<div class="modal fade teaGardenLogEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" th:fragment="teaGardenLogEdit">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    新增管理记录
                </h5>
                <button type="button" class="close close-parent" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <form class="m-form m-form--state m-form--fit m-form--label-align-right" id="tea_garden_log_form" novalidate="novalidate">
                <div class="modal-body">
                    <input type="hidden" name="id" value="">
                    <input type="hidden" name="save" value="edit">
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12">
                            茶园 *
                        </label>
                        <div class="col-lg-8 col-md-9 col-sm-12">
                            <select class="form-control teaGardenId " name="teaGardenId" id="teaGardenId" >
                                <option value=""> 全部 </option>
                                <option th:each="item:${gardenType}" th:value="${item.id}" th:text="${item.name_area}"></option>
                            </select>
                            <span class="m-form__help"></span>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12" >
                            管理批次号
                        </label>
                        <div class="col-lg-8 col-md-9 col-sm-12">
                            <select class="form-control " name="cultivarId" id="cultivarId" >

                            </select>
                            <span class="m-form__help"></span>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12">
                            农事 *
                        </label>
                        <div class="col-lg-8 col-md-9 col-sm-12">
                            <select class="form-control " name="farmTypeId" >
                                <option value=""> 全部 </option>
                                <option th:each="item:${farmType}" th:value="${item.id}" th:text="${item.name}"></option>
                            </select>
                            <span class="m-form__help"></span>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12">
                            农事说明 *
                        </label>
                        <div class="col-lg-8 col-md-9 col-sm-12">
                            <div class="input-group">
                                <input type="text" class="form-control m-input" name="farmDesc" placeholder="农事说明">
                            </div>
                            <span class="m-form__help"></span>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12">
                            实施人
                        </label>
                        <div class="col-lg-8 col-md-9 col-sm-12">
                            <div class="input-group">
                                <input type="text" class="form-control m-input" name="operatorId" placeholder="实施人">
                            </div>
                            <span class="m-form__help"></span>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12">
                            开始时间
                        </label>
                        <div class="col-lg-8 col-md-9 col-sm-12">
                            <div class="input-group">
                                <input type="text" class="form-control m-input begin_time" name="beginTime" placeholder="开始时间">
                            </div>
                            <span class="m-form__help"></span>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-form-label col-lg-3 col-sm-12">
                            备注
                        </label>
                        <div class="col-lg-8 col-md-9 col-sm-12">
                            <textarea class="form-control m-input" name="description" placeholder="介绍用途等"></textarea>
                            <span class="m-form__help"></span>
                        </div>
                    </div>
                    <!--<div class="m-form__seperator m-form__seperator&#45;&#45;dashed m-form__seperator&#45;&#45;space"></div>-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-parent" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="submit" shiro:hasPermission="dictionary:submit" class="btn btn-accent">
                            确定
                        </button>
                        <button type="reset" class="btn btn-warning reset-btn">
                            重置
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<!--end::Modal-->
</body>
</html>